body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0; /* Asegura que no haya márgenes predeterminados */
}

header {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#contenedor-principal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Esto centrará los botones horizontalmente */
}

#contenedor-principal button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-login {
    background-color: #3498db;
    color: white;
}

#btn-register {
    background-color: #2ecc71;
    color: white;
}

#btn-play {
    background-color: #e74c3c;
    color: white;
    visibility: hidden;
}

#btn-cargarPartida {
  background-color: chocolate;
  color: white;
  visibility: hidden;
}

#btn-profile {
  background-color: goldenrod;
  color: white;
  visibility: hidden;
}

#btn-logout {
  background-color: gray;
  color: white;
  visibility: hidden;
}

#contenedor-principal button:hover {
    opacity: 0.8;
}

#contenido-dinamico {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TABLERO */
.cont-plantilla {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
  .cont-dinamico {
    display: block;
    width: 50%;
    border: 1px solid black;
  }
  .contenedor-jugadores {
    background-color: rgb(0, 208, 255);
    display: flex;
    flex-direction: row;
  }
  .item-jugador {
    width: 50px;
    height: 50px;
    margin: 10px;
    flex: 1;
    text-align: center;
    background-color: rgb(0, 255, 89);
    justify-content: center; /* Centra los hijos verticalmente */
    align-items: center; /* Centra los hijos horizontalmente */
  }

  .item-jugador h1,
  .item-jugador h3 {
    margin: 5px 0; /* Ajusta el margen de los encabezados */
    font-size: 14px; /* Disminuye el tamaño de fuente para que se ajuste */
  }

  .cont-tablero {
    background-color: yellowgreen;
    display: flex;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    height: 500px;
  }
 
  /* td {
    padding: 30px;
  } */

  img {
    max-height: 100px;
  }


  /* LOGIN */
.login-container {
  
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 60px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.form-title {
    color: #3498db; /* Color azul claro predominante */
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.form-button {
    background-color: #3498db; /* Color azul claro predominante */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #2980b9; /* Color azul claro más oscuro al pasar el ratón */
}  


/* REGISTRO */

.register-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-form-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 70px;
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.register-form-title {
  color: #27ae60; /* Color verde claro predominante */
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333; /* Color de texto predeterminado */
}

.register-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.register-form-button {
  background-color: #27ae60; /* Color verde claro predominante */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.register-form-button:hover {
  background-color: #219a52; /* Color verde más oscuro al pasar el ratón */
}


/* Formulario de registro */
/* Estilos generales del formulario */
/* Estilo para centrar el formulario */
.formulari_centrat {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Estilos para los campos de entrada y etiquetas */
.form-label {
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* Estilos para el mensaje de ayuda */
.form-text {
  color: #6c757d;
}

/* Estilos para el checkbox */
.form-check-input {
  margin-right: 0.25rem;
}

/* Estilos para el botón de enviar */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 0.375rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Estilos para los mensajes de error */
#errors {
  color: red;
  margin-top: 1rem;
}



/* Formulario Iniciar Sesion  */
/* Estilo para centrar el formulario */
.formulari_centrat {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Estilos para los campos de entrada y etiquetas */
.form-label {
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* Estilos para el mensaje de ayuda */
.form-text {
  color: #6c757d;
}

/* Estilos para el enlace de "I forgot my password" */
#forgotPassword {
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #007bff;
}

/* Estilos para el checkbox */
.form-check-input {
  margin-right: 0.25rem;
}

/* Estilos para el botón de enviar */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 0.375rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Estilos para los mensajes de error */
#errors {
  color: red;
  margin-top: 1rem;
}


/* PERFIL DEL USUARIO */
.profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  text-align: left;
}

.profile-info label {
  font-weight: bold;
}

.profile-info p {
  margin: 10px 0;
}

#upload-input {
  display: none;
}